body{
    margin:0;
    font-family:'Cairo', sans-serif;
    background:linear-gradient(135deg,#ffffff,#203a43,#2c5364);
    min-height:100vh;
    background-image:url(rr.jpg);
}

.container{
    max-width:520px;
    margin:40px auto;
    background:#169e9c;
 background-image:url(ff.jpg);

    padding:25px;
    border-radius:16px;
    box-shadow:0 20px 40px rgba(13, 4, 117, 0.962);
}

.header{
    text-align:center;
    margin-bottom:20px;
}

.header span{
    background:hsl(12, 100%, 3%);
    color:#ebf1ec;
    padding:6px 14px;
    border-radius:20px;
    font-size:40px;
}

.header h2{
    margin-top:15px;
    color:#000506;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

label{
    display:block;
    margin-top:15px;
    font-weight:600;
}

input, select{
    width:99%;
    padding:11px;
    margin-top:5px;
    border-radius:10px;
    border:1px solid rgb(239, 239, 239);
    
    background: rgb(255, 255, 255);
    color: #fa061e;
    font-size:15px;
    
}

input:focus, select:focus{
    outline:none;
    border-color:#2c5364;
}

.price-box{
    margin-top:18px;
    padding:14px;
    background:#f1f5f9;
    border-radius:12px;
    text-align:center;
    font-weight:700;
}

button{
    margin-top:22px;
    width:100%;
    padding:15px;
    font-size:16px;
    font-weight:700;
    border:none;
    border-radius:12px;
    background:#02062e;
    color:#ffffff;
    cursor:pointer;
}

button:hover{
    background:#1ebe5d;
}

.error{
    margin-top:10px;
    color:#ffffff;
    text-align:center;
    font-weight:600;
}

.footer{
    margin-top:35px;
    padding:18px;
    text-align:center;
    font-size:20px;
    color:#060000;
}

.footer a{
    color:#001006;
    text-decoration:none;
    font-weight:700;
}

